#app-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#app-title {
    font-size: 3vmax;
    margin-top: -35vmax;
}

#modal {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

#close-modal {
    position: fixed;
    text-align: right;
    font-size: 36px;
    margin-left: -3%;
}

#close-modal:hover {
    cursor: pointer;
}

#graph-title {
    padding-top: 20px;
}

#info {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    height: auto;
    width: auto; /* Could be more or less, depending on screen size */
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: overlay;
    border-radius: 10px;
    z-index: 5;

}

#info p{
    font-size: 18px;
}

#map-container {
    position: absolute;
    /* margin-top: 50%; */
    width: 75vmax;
    height: auto;
}

svg.canada-map{
    margin: auto;
    width: 50vmax;
}

.recharts-surface {
    padding: -5%;
}

.canada-map > g {
    width: 55vmax;
}

g:hover {
    cursor: pointer;
}


/* @media only screen and (max-width: 768px) {
    #map-container {
        margin-top: 50%;
        width: 75vmax;
    }    
}

@media only screen and (max-width: 750px) {
    #map-container {
        margin-top: 100%;

        width: 65vmax;
    }     
} */

