#app-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#modal {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

#close-modal {
    position: fixed;
    text-align: right;
    font-size: 36px;
    margin-left: -3%;
}

#close-modal:hover {
    cursor: pointer;
}

#graph-title {
    padding-top: 20px;
}

#info {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: auto;
    width: auto; /* Could be more or less, depending on screen size */
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: overlay;
    border-radius: 10px;

}

#info p{
    font-size: 18px;
}

#map-container {
    margin-top: -120px;
}

.canada-map{
    display: block;
    margin: auto;
    padding: 20px;
    width: 55%;
}

.recharts-surface {
    padding: -5%;
}

g:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .canada-map{
        display: block;
        margin: auto;
        padding: 20px;
        width: 100%;
    }    
}

